
@model BarCodeApplication.Models.Import

@{
    ViewBag.Title = "Scan";
}

<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
        <td>@Html.DisplayFor(model => model.CompanyName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.JobNo)</td>
        <td>@Html.DisplayFor(model => model.JobNo)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Project)</td>
        <td>@Html.DisplayFor(model => model.Project)</td>
    </tr>
</table>