@model BarCodeApplication.ViewModels.StartPieceViewModel

@{
    ViewBag.Title = "Start";
}

<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
        <td>@Html.DisplayFor(model => model.CompanyName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.JobNo)</td>
        <td>@Html.DisplayFor(model => model.JobNo)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Project)</td>
        <td>@Html.DisplayFor(model => model.Project)</td>
    </tr>



</table>
<fieldset>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <h4>scan the barcode</h4>
        </div>
        @using (Html.BeginForm())
        {

            <div class="col-md-4">
                <p>
                    <div class="editor-field focus">

                        @Html.TextBoxFor(model => model.FinishPiece, new { @id = "txtFinishPiece", autofocus = "autofocus", onfocus = "clearFields()" })


                    </div>

            </div>
            <div class="col-md-4">
                <p>
                    <input class="btn btn-primary btn-lg" type="submit" value="Search" />
                </p>
            </div>


        }
    </div>
</fieldset>